@import '@sun-typeface/suit/fonts/variable/woff2/SUIT-Variable.css';

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'SUIT Variable';
}

@utility required-indicator {
	content: '*';
	color: var(--color-red-800);
	position: relative;
	top: calc(var(--spacing) * -1.5);
}

@custom-variant coarse {
	@media (pointer: coarse) {
		@slot;
	}
}
